* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

footer {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 1px;
    color: #888;
    text-align: center;
    padding: 15px 0;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: -1px;
    line-height: 0.9;
    margin: 0;
    text-shadow: 0 11px 10px rgba(0,0,0,0.2);

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #555;
}

#informativo {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 10px;
    letter-spacing: 1px;
    color: #888;
    text-align: center;
    margin: 5px;
}

input {
    border-radius: 50px;
    border: none;
    background-color:rgb(210, 210, 210);
    text-align: center;
    font-size: 12px;
    width: 250px;
    max-width: 300px;
    padding: 5px 20px;
    height: 25px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
}

input:hover {
    background-color: rgb(222, 222, 222);
    cursor: pointer;
    transition: 0.5s;
}

button {
    background-color:rgb(0, 0, 0);
    color: #ffffff;
    font-size: 11px;
    border-radius: 50px;
    width: 70px;
    height: 30px;
    border: none;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
}

button:hover {
    background:rgb(87, 206, 97);
    color: rgb(107, 107, 107);
    cursor: pointer;
    transition: 0.5s;
}